<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flf.mapper.HajSpecialTopicCommodityMapper">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.flf.entity.HajSpecialTopicCommodity">
		<result column="id" property="id" />
		<result column="specialTopicId" property="specialTopicId" />
		<result column="commodityId" property="commodityId" />
	</resultMap>

	<!-- haj_special_topic_commodity table all fields -->
	<sql id="Base_Column_List">
		id,specialTopicId,commodityId
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="condition.id != null and condition.id != ''">
				and id = #{condition.id}
			</if>
			<if test="condition.specialTopicId != null and condition.specialTopicId != ''">
				and specialTopicId = #{condition.specialTopicId}
			</if>
			<if test="condition.commodityId != null and condition.commodityId != ''">
				and commodityId = #{condition.commodityId}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haj_special_topic_commodity(id,specialTopicId,commodityId)
		values(#{id},#{specialTopicId},#{commodityId})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update haj_special_topic_commodity
		set specialTopicId=#{specialTopicId},commodityId=#{commodityId}
		where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelective" parameterType="Object">
		update haj_special_topic_commodity set 
		<trim suffixOverrides="," >
			<if test="specialTopicId != null  ">
				specialTopicId=#{specialTopicId},
			</if>
			<if test="commodityId != null  ">
				commodityId=#{commodityId},
			</if>
		</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from haj_special_topic_commodity where id = #{id}
	</delete>

	<!-- 根据id查询  -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" /> 
		from haj_special_topic_commodity where id = #{id}
	</select>

	<!--  列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from haj_special_topic_commodity
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from haj_special_topic_commodity
		<include refid="Example_Where_Clause" />
		<if test="orderByClause != null and orderByClause != ''">
			order by ${orderByClause}
		</if>
		<if test="limitClause != null and limitClause != ''">
			${limitClause}
		</if>
	</select>
	
	<select id="getCommodityList" parameterType="HajSpecialTopicCommodity" resultType="HajSpecialTopicCommodityVo" >
		SELECT stc.id, st.`name` AS stName, stc.`commodityId`, c.`name` AS commodityName, c.`alias`,
			c.`description2`, c.`weight`, c.`sort`, c.`image3`, c.`shelves`, c.`marketPrice`, c.`discountWord`,
			IF(IFNULL(c.`promotionPrice`, 0) &lt;= 0, c.`originalPrice`, c.`promotionPrice`) price
		FROM haj_special_topic_commodity stc
		LEFT JOIN haj_special_topic st ON st.id=stc.`specialTopicId`
		LEFT JOIN haj_commodity c ON c.id=stc.`commodityId`
		WHERE 1=1
		AND stc.`specialTopicId` = #{specialTopicId}
		ORDER BY c.`sort` DESC, c.id DESC
	</select>



	<!--插入数据时，判断数据是否存在，如果不存在就插入否则不做处理-->
	<insert id="saveToCommodityTopic" parameterType="HajSpecialTopicCommodity">
		INSERT INTO haj_special_topic_commodity(commodityId,specialTopicId)
		SELECT
		#{commodityId},#{specialTopicId}
		FROM DUAL
		WHERE NOT EXISTS(SELECT 1 FROM haj_special_topic_commodity htc
		WHERE htc.commodityId = #{commodityId} AND htc.specialTopicId = #{specialTopicId})
	</insert>


	<!--从指定专题中删除指定商品-->
	<delete id="deleteCommodityFromTheTopic" parameterType="HajSpecialTopicCommodity">
		DELETE FROM haj_special_topic_commodity WHERE commodityId = #{commodityId}   AND  specialTopicId = #{specialTopicId}
	</delete>

</mapper>   
