<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flf.mapper.HajUserRatingMapper">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.flf.entity.HajUserRating">
		<result column="id" property="id" />
		<result column="rateName" property="rateName" />
		<result column="rateType" property="rateType" />
		<result column="rating" property="rating" />
		<result column="userId" property="userId" />
		<result column="createTime" property="createTime" />
	</resultMap>

	<!-- haj_user_rating table all fields -->
	<sql id="Base_Column_List">
		id, rateName, rateType, rating, userId, createTime
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		WHERE 1=1
		<trim suffixOverrides=",">
		<if test="condition.id != null and condition.id != ''">
			AND id = #{condition.id}
		</if>
		<if test="condition.rateName != null and condition.rateName != ''">
			AND rateName = #{condition.rateName}
		</if>
		<if test="condition.rateType != null and condition.rateType != ''">
			AND rateType = #{condition.rateType}
		</if>
		<if test="condition.rating != null and condition.rating != ''">
			AND rating = #{condition.rating}
		</if>
		<if test="condition.userId != null and condition.userId != ''">
			AND userId = #{condition.userId}
		</if>
		<if test="condition.createTime != null and condition.createTime != ''">
			AND createTime = #{condition.createTime}
		</if>
		</trim>
	</sql>

	<!-- listPage查询条件 -->
	<sql id="query_criteria">
		WHERE 1=1
		<trim suffixOverrides=",">
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
		<if test="rateName != null and rateName != ''">
			AND rateName = #{rateName}
		</if>
		<if test="rateType != null and rateType != ''">
			AND rateType = #{rateType}
		</if>
		<if test="rating != null and rating != ''">
			AND rating = #{rating}
		</if>
		<if test="userId != null and userId != ''">
			AND userId = #{userId}
		</if>
		<if test="createTime != null and createTime != ''">
			AND createTime = #{createTime}
		</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO haj_user_rating(id, rateName, rateType, rating, userId, createTime)
		VALUES(#{id}, #{rateName}, #{rateType}, #{rating}, #{userId}, now())
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		UPDATE haj_user_rating SET rateName = #{rateName}, rateType = #{rateType}, rating = #{rating}, userId = #{userId},  WHERE id = #{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelective" parameterType="Object">
		UPDATE haj_user_rating SET 
		<trim suffixOverrides=",">
			<if test="rateName != null">
				rateName = #{rateName},
			</if>
			<if test="rateType != null">
				rateType = #{rateType},
			</if>
			<if test="rating != null">
				rating = #{rating},
			</if>
			<if test="userId != null">
				userId = #{userId},
			</if>
			<if test="createTime != null">
				createTime = #{createTime},
			</if>
		</trim> WHERE id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		DELETE FROM haj_user_rating WHERE id = #{id}
	</delete>

	<!-- 根据id查询  -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		SELECT <include refid="Base_Column_List" />
		FROM haj_user_rating WHERE id = #{id}
	</select>

	<!--  列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
		SELECT count(1) FROM haj_user_rating
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
		SELECT <include refid="Base_Column_List" />
		FROM haj_user_rating
		<include refid="Example_Where_Clause" />
		<if test="orderByClause != null and orderByClause != ''">
			ORDER BY ${orderByClause}
		</if>
		<if test="limitClause != null and limitClause != ''">
			${limitClause}
		</if>
	</select>

	<select id="listPage" resultType="HajUserRating" parameterType="HajUserRating">
		SELECT * FROM haj_user_rating
		WHERE 1=1
		ORDER BY id DESC
	</select>

</mapper>   
