<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flf.mapper.SystemConfigurationMapper" > 
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.flf.entity.SystemConfiguration" >
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="value" property="value"/>
		<result column="createTime" property="createTime"/>
		<result column="configDescribe" property="configDescribe"/>
	</resultMap>

	<!-- system_configuration table all fields -->
	<sql id="Base_Column_List" >
		 id,name,value,createTime,configDescribe
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
		<if test="condition.id != null and condition.id != ''" >
			and id =  #{condition.id}
		</if>
		<if test="condition.name != null and condition.name != ''" >
			and name =  #{condition.name}
		</if>
		<if test="condition.value != null and condition.value != ''" >
			and value =  #{condition.value}
		</if>
		<if test="condition.createTime != null and condition.createTime != ''" >
			and createTime =  #{condition.createTime}
		</if>
		<if test="condition.configDescribe != null and condition.configDescribe != ''" >
			and configDescribe =  #{condition.configDescribe}
		</if>
	</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object" >
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into system_configuration(id,name,value,createTime,configDescribe)
		values(#{id},#{name},#{value},now(),#{configDescribe})
	</insert>

	<!-- 根据id，修改记录-->
	<update id="update" parameterType="Object" >
		update system_configuration set name=#{name},value=#{value},configDescribe=#{configDescribe}  where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelective" parameterType="Object" >
		update system_configuration set
		<trim  suffixOverrides="," >
		<if test="name != null  ">
			name=#{name},
		</if>
		<if test="value != null  ">
			value=#{value},
		</if>
		<if test="createTime != null  ">
			createTime=#{createTime},
		</if>
		<if test="configDescribe != null  ">
			configDescribe=#{configDescribe}
		</if>
		</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from system_configuration where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		 from system_configuration where id = #{id}
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from system_configuration
		<include refid="Example_Where_Clause"/>
	</select>

	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
		select
		<include refid="Base_Column_List"/>
		from system_configuration
		<include refid="Example_Where_Clause"/>
		<if test="orderByClause != null and orderByClause != ''" >
			order by  ${orderByClause}
		</if>
		<if test="limitClause != null and limitClause != ''" >
			${limitClause}
		</if>
	</select>

	<select id="listPageConfig" parameterType="Object" resultMap="BaseResultMap">
		select * from system_configuration where 1=1
		<if test="name!=null and name!=''">
			and name LIKE CONCAT('%', #{name}, '%')
		</if>
	</select>

	<select id="getValueByName" parameterType="String" resultType="String">
		SELECT VALUE FROM system_configuration WHERE NAME = #{name}
	</select>

	<select id="getConfigurationByName" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM system_configuration WHERE NAME = #{name}
	</select>

	<!-- 根据id，修改记录-->
	<update id="updateByName" parameterType="SystemConfiguration">
		UPDATE system_configuration SET value=#{value} WHERE name=#{name}
	</update>
</mapper>   
